ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 4em;
    vertical-align: center;
}

li.nav {
    float: right;
}

.left {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 1.5em;
}

li a:hover {
    padding-top: 1.25em;
    border-top: 0.375em solid #333;
}

#upgradebutton {
    margin-top: -24px;
}

.smalllogo {
    width: 75px;
}

#logo {
    margin-top: -17px;
    margin-left: 7px;
    height: 50px;
}

.navigationbutton {
    color: #333;
    background-color: whitesmoke;
    height: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #333;
    box-shadow: 0 10px 29px 0 black;
}

.navigationbutton:hover {
    background-color: lightgray;
    color: #333;
    height: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #333;
    box-shadow: none;
}